    <!-- Footer -->
    <footer class="footer page-footer font-small blue fixed-bottom bg-primary">
      <div class="text-center py-3">GRUPO DAIS
        <!-- <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a> -->
      </div>
    </footer>
    <!-- Footer -->
  </body>
</html>
