<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- ajax/jquery -->
    <script src="/public/jquery/jquery-3.4.1.js"></script>
<!-- bootstrap -->
    <link rel="stylesheet" href="/public/bootstrap-3.4.1-dist/css/bootstrap.css" />
    <script src="/public/bootstrap-3.4.1-dist/js/bootstrap.js"></script>
<!-- custom -->
    <link rel="stylesheet" type="text/css" href="/public/assets/css/style.css">
    <script src="/public/assets/js/script.js"></script>

    <title><%= title %></title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/comunidades">
      <!-- <a class="logo" href="/"> -->
          <img src="/public/assets/img/logodais.png" alt="logodais" width="90" height="48">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li><a href="/">Home</a></li> -->
        <li><a href="/comunidades">Comunidades</a></li>
        <li><a href="/viviendas">Viviendas</a></li>
        <li><a href="/propietarios">Propietarios</a></li>
      </ul>
      <!-- login -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul> -->
    </div>
  </div>
</nav>
<div class="page-wrapper">
