<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/style.css"> -->
    <title><%= title %></title>
</head>
<style>
  .table-wrapper {
    margin-top: 50px;
  }

  .add-comunidad-form {
    margin-top: 50px;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .row.content {
    height: 450px
  }

  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }

  footer {}

  .footer {
    color: white;
    background-color: #333;
  }

  .bg-grey {
    background-color: #555;
    color: #FFF;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }

    .row.content {
      height: auto;
    }
  }
</style>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
          <img src="/assets/img/logodais.png" alt="logodais">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
         <!-- class="active" -->
        <li><a href="/">Home</a></li>
        <li><a href="/comunidades">Comunidades</a></li>
        <li><a href="/viviendas">Viviendas</a></li>
        <li><a href="/propietarios">Propietarios</a></li>
      </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul> -->
    </div>
  </div>
</nav>
<div class="page-wrapper">
