<% include partials/header.ejs %>
<div class="container">
  <h3>Funcionalidades en proceso:</h3>

      <li>Imprimir listas de propietarios, cuotas, etc.</li>
      @media print{css}//hidden-print
      <li>filtros y busquedas por -fechas, nombres, etc.</li>
      <li></li>

      <div class="table-wrapper">
        <table class="table table-bordered">
          <tr>
            <thead>
              <th>1</th>
              <th>2</th>
              <th>3</th>
              <th>4</th>
            </thead>
          </tr>
          <tr>
            <td rowspan="2">B</td>
            <td>B1</td>
            <td rowspan="2">B1</td>
            <td rowspan="2">B1</td>
          </tr>
          <tr>
            <td>B2</td>
          </tr>
        </table>
      </div>
</div>
<% include partials/footer.ejs %>
