<% include partials/header.ejs %>
<div class="container">
  <h3>Funcionalidades en proceso:</h3>

      <li>Imprimir listas de propietarios, cuotas, etc.</li>
      <li>añadir Deudas anteriores, </li>
      <li>filtros y busquedas por fechas, nombres, etc.</li>
      <li>mostrar comunidades sin viviendas en lista viviendas (tablaViviendasComunidad)</li>
      <li></li>
</div>
<% include partials/footer.ejs %>
