<% include partials/header.ejs %>
<div class="container">
  <h3>Funcionalidades en proceso:</h3>

      <li>Imprimir listas de propietarios, cuotas, etc.</li>
      <li>añadir modulo de Incidencias</li>
      <li>mostrar viviendas en "Ver" comunidad cuando no tienen propietarios asignados</li>
      <li>mostrar deudas de los propietarios</li>
      <li>filtros y busquedas por fechas, nombres, etc.</li>
      <li></li>
</div>
<% include partials/footer.ejs %>
