<% include partials/header.ejs %>
<div class="container">
  <h3>Funcionalidades en proceso:</h3>

      <li>Imprimir tablas</li>
      @media print{css}
      <br>
      .hidden-print
      <li>filtros y busquedas - fechas, nombres...</li>
      <li></li>

</div>
<% include partials/footer.ejs %>
