<% include partials/header.ejs %>
<br>
<div align="center">
    <p>
      <%= message %>
    </p>
    <a href="/comunidades" rel="noopener" class="btn btn-sm btn-success">Volver</a>
  <!-- url -->
       <!-- <a href="/" rel="noopener" class="btn btn-sm btn-info">url</a> -->
</div>
<% include partials/footer.ejs %>
