<% include partials/header.ejs %>
<div>
    <p>
      <%= message %>
    </p>
    <a href="/comunidades" rel="noopener" class="btn btn-sm btn-success">Volver</a>
</div>
<% include partials/footer.ejs %>
